<div id="star-rate<%= comment.id%>"></div>
<script>
  $('#star').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    readOnly: true,
    score: <%= comment.star %>,
  });
</script>
